@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 450px) {
  .hide-small {
    display: none;
  }
}

@media (min-width: 450px) {
  .show-small {
    display: none;
  }
}

@media (max-width: 720px) {
  .hide-medium {
    display: none;
  }
}

@media (min-width: 720px) {
  .show-medium {
    display: none;
  }
}

@media (max-width: 960px) {
  .hide-large {
    display: none;
  }
}

@media (min-width: 960px) {
  .show-large {
    display: none;
  }
}

@media (max-width: 1325px) {
  .hide-xl {
    display: none;
  }
}

.navbar {
    position: relative;
    display: grid;
    grid-template-columns: 1.15fr 1.6fr 1.25fr;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: black;
    flex-direction: row;
    width: 100%;
    top: 0px;
    border-bottom: 0px rgb(57, 59, 110);
    border-top-color: rgb(57, 59, 110);
    border-right-color: rgb(57, 59, 110);
    border-left-color: rgb(57, 59, 110);
    padding: 1rem;
    z-index: 20;
}

@media (max-width: 1325px) {
  .navbar {
    grid-template-columns: 0.12fr 0.8fr 0.05fr;
  }
}

.navbar-col-1 {
    margin-left: 10px;
    
}

.navbar-logo {
  display: inline-flex;
  transition: transform 0.6s ease 0s;
}

.navbar-logo:hover {
  transform: rotate(360deg);
}

.navbar-link-item {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  width: fit-content;
  margin: 0px auto;
  font-weight: 600;
  opacity: 0.5;
  color: rgb(230, 230, 230);
}

.navbar-col-2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  column-gap: 0.5rem;
  width: 100%;
}

@media (max-width: 1325px) {
  .navbar-col-2 {
    margin-left: 7.5px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    column-gap: 0.5rem;
  }
}

.navbar-col-3 {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-self: center;
}

@media (max-width: 1325px) {
  .navbar-col-3 {
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    justify-self: center;
    max-width: 1325px;
    padding: 1rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    height: 72px;
    border-radius: 12px 12px 0px 0px;
    background-color: black;
  }
}

.navbar-col-3-items {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1325px) {
  .navbar-col-3-items {
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

.network-button {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: rgba(21, 61, 111, 0.44);
  border: 1.5px solid #4b86ff;
  color: #4b86ff;
}

.connect-wallet {
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(36, 38, 76);
  border-radius: 12px;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
}

.wallet-button-1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  padding: 8px 16px;
  color: white;
  border: 0px;
  border-radius: 4px;
}

.wallet-button-2 {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: rgb(116, 8, 248);
  border: 1px solid rgb(116, 8, 248);
  color: #4b86ff;
}

.circle-outline {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  border: 1.5px solid #4b86ff;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  animation: animate 15s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 7s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.box-area li:nth-child(4) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 9s;
}
.box-area li:nth-child(5) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area-dark li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  animation: animate 15s linear infinite;
  bottom: -150px;
}

.box-area-dark li:nth-child(1) {
  left: 86%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 10s;
}
.box-area-dark li:nth-child(2) {
  left: 12%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 7s;
}
.box-area-dark li:nth-child(3) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation-duration: 16s;
}

.box-area-dark li:nth-child(4) {
  left: 65%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 9s;
}
.box-area-dark li:nth-child(5) {
  left: 15%;
  width: 130px;
  height: 130px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area-dark li:nth-child(6) {
  left: 40%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.box-area-dark li:nth-child(7) {
  left: 45%;
  width: 90px;
  height: 90px;
  animation-delay: 1s;
  animation-duration: 10s;
}
.box-area-dark li:nth-child(8) {
  left: 55%;
  width: 200px;
  height: 200px;
  animation-delay: 0s;
  animation-duration: 10s;
}
.box-area-dark li:nth-child(9) {
  left: 50%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
  animation-duration: 9s;
}

.box-area-dark li:nth-child(10) {
  left: 10%;
  width: 110px;
  height: 110px;
  animation-delay: 7s;
  animation-duration: 17s;
}
.box-area-dark li:nth-child(11) {
  left: 70%;
  width: 200px;
  height: 200px;
  animation-delay: 6s;
  animation-duration: 10s;
}
.box-area-dark li:nth-child(12) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 5s;
  animation-duration: 16s;
}

.box-area-dark li:nth-child(13) {
  left: 20%;
  width: 90px;
  height: 90px;
  animation-delay: 7s;
  animation-duration: 4s;
}
.box-area-dark li:nth-child(14) {
  left: 30%;
  width: 200px;
  height: 200px;
  animation-delay: 2s;
  animation-duration: 8s;
}
.box-area-dark li:nth-child(15) {
  left: 90%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 14s;
}

.box-area-dark li:nth-child(16) {
  left: 35%;
  width: 90px;
  height: 90px;
  animation-delay: 0.5s;
  animation-duration: 9s;
}
.box-area-dark li:nth-child(17) {
  left: 53%;
  width: 200px;
  height: 200px;
  animation-delay: 9s;
  animation-duration: 10s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
